<div class="our-team-page">
  <div class="team-header">
    <div class="title">
      <p class="our-team-text"><span>OUR TEAM</span></p>
      <h1 class="top-attorneys-text">TOP ATTORNEYS</h1>
    </div>
    <div class="content-text">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      </p>
    </div>
    <div class="view-more">
      <p class="view-more-text">VIEW MORE</p>
      <img src="assets/icon/view-more.png" alt="view more icon">
    </div>
  </div>
  <div class="team-members-row">
    <div class="member">
      <div class="image-container" style="background-image: url(assets/img/jhone-mark-civil.png)">
        <div class="info">
          <h3 class="name">Jhone mark</h3>
          <h5 class="profession">Civil Lawyer</h5>
          <div class="social-links">
            <img class="social-icon" src="assets/icon/facebook-grey.png" alt="facebook icon">
            <img class="social-icon" src="assets/icon/linkedin-grey.png" alt="linkedin icon">
            <img class="social-icon" src="assets/icon/twitter-grey.png" alt="twitter icon">
            <img class="social-icon" src="assets/icon/instagram-grey.png" alt="instagram icon">
          </div>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="image-container" style="background-image: url(assets/img/jhone-esther-family.png)">
         <div class="info">
          <h3 class="name">Jhone Esther</h3>
          <h5 class="profession">Family Lawyer</h5>
          <div class="social-links">
            <img class="social-icon" src="assets/icon/facebook-grey.png" alt="facebook icon">
            <img class="social-icon" src="assets/icon/linkedin-grey.png" alt="linkedin icon">
            <img class="social-icon" src="assets/icon/twitter-grey.png" alt="twitter icon">
            <img class="social-icon" src="assets/icon/instagram-grey.png" alt="instagram icon">
          </div>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="image-container" style="background-image: url(assets/img/asriel-josh-criminal.png)">
        <div class="info">
          <h3 class="name">Asriel Josh</h3>
          <h5 class="profession">Criminal Lawyer</h5>
          <div class="social-links">
            <img class="social-icon" src="assets/icon/facebook-grey.png" alt="facebook icon">
            <img class="social-icon" src="assets/icon/linkedin-grey.png" alt="linkedin icon">
            <img class="social-icon" src="assets/icon/twitter-grey.png" alt="twitter icon">
            <img class="social-icon" src="assets/icon/instagram-grey.png" alt="instagram icon">
          </div>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="image-container" style="background-image: url(assets/img/paul-mark-business.png)">
        <div class="info">
          <h3 class="name">Paul mark</h3>
          <h5 class="profession">Business Lawyer</h5>
          <div class="social-links">
            <img class="social-icon" src="assets/icon/facebook-grey.png" alt="facebook icon">
            <img class="social-icon" src="assets/icon/linkedin-grey.png" alt="linkedin icon">
            <img class="social-icon" src="assets/icon/twitter-grey.png" alt="twitter icon">
            <img class="social-icon" src="assets/icon/instagram-grey.png" alt="instagram icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
