<div class="service-page">
  <div class="header">
    <p class="services-text"><span>SERVICE</span></p>
    <h1 class="our-practices-text">Our Practice Area</h1>
    <p class="content-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries
    </p>
  </div>
  <div class="service-cards">
    <mat-card class="card">
      <img mat-card-sm-image src="assets/icon/car-accident.png" >
      <div class="card-content">
        <mat-card-title-group>
          <mat-card-title class="card-title">Car Accident</mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-sm-image src="assets/icon/real-estate.png" >
      <div class="card-content">
        <mat-card-title-group>
          <mat-card-title  class="card-title">Real Estate Law</mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-sm-image src="assets/icon/corporate-law.png" >
      <div class="card-content">
        <mat-card-title-group>
          <mat-card-title class="card-title">Corporate Law</mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-sm-image src="assets/icon/insurance.png" >
      <div class="card-content">
        <mat-card-title-group>
          <mat-card-title class="card-title">Insurance</mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-sm-image src="assets/icon/criminal-law.png" >
      <div class="card-content">
        <mat-card-title-group>
          <mat-card-title class="card-title">Criminal Law</mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-sm-image src="assets/icon/immigration.png" >
      <div class="card-content">
        <mat-card-title-group>
          <mat-card-title class="card-title">Immigration</mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
