.home-page {
  .background {
    width: 100%;
    height: 80vh;
    background-image: url('../../assets/img/welcome-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    .container {
      margin: 0px 20px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .text-area {
        width: 75%;
        text-align: center;

        .welcome-text {
          color: #b98b78;
          margin: 0 0 30px 30px;
          line-height: 0.2;
          font-weight: 600;

          span {
            display: inline;
            position: relative;
          }

          span::before {
            content: "";
            position: absolute;
            height: 5px;
            border-top: 2px solid #66596f;
            width: 25px;
            right: 100%;
            margin-right: 5px;
          }
        }

        .creative-text {
          color: #efd6cc;
          font-size: 5vw;
          line-height: 1.1;
          margin-bottom: 30px;
          font-family: 'Playfair Display', serif;
          font-weight: 600;
        }

        .we-help-text {
          color: white;
          font-size: 3.5vw;
          line-height: 1.1;
          margin-bottom: 30px;
          font-family: 'Playfair Display', serif;
          font-style: italic;
        }

        .book-appointment-btn {
          background-color: #d69c85;
          color: white;
        }
      }

      .social-media-icon-area {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        margin-right: 30px;

        .social-icon {
          margin: 10px 0px;
          width: 30px;
          height: 30px;
        }
      }

      .arrow-icon-area {
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 50px;

        .arrow-icon {
          width: 50%;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-page {

    .background {
      .container {
        flex-direction: column;

        .social-media-icon-area {
          position: relative;
          flex-direction: row;
          margin: 0px;

          .social-icon {
            margin: 10px 10px;
          }
        }
      }
    }
  }
}
