<div class="home-page">
  <header-component></header-component>
  <navbar-component></navbar-component>

  <div class="background">
    <div class="container">
      <div class="text-area">
        <p class="welcome-text"><span>Welcome to Launch Law</span></p>
        <h1 class="creative-text">Creative legal solutions for your everyday business needs</h1>
        <h3 class="we-help-text">We help protecting and growing our partners' business</h3>

        <button mat-flat-button class="book-appointment-btn">BOOK AN APPOINTMENT</button>
      </div>
      <div class="social-media-icon-area">
        <img src="assets/icon/facebook-white.png" alt="facebook icon" class="social-icon">
        <img src="assets/icon/instagram-white.png" alt="instagram icon" class="social-icon">
        <img src="assets/icon/linkedin-white.png" alt="linkedin icon" class="social-icon">
      </div>
      <div class="arrow-icon-area">
        <img src="assets/icon/left-arrow.png" alt="left arrow" class="arrow-icon">
        <img src="assets/icon/right-arrow.png" alt="right arrow" class="arrow-icon">
      </div>
    </div>
  </div>
</div>
