<div class="about-us-page">
  <div class="image-container"></div>
  <div class="text-container">
    <p class="about-us-text"><span>ABOUT US LAW FIRM</span></p>
    <h1 class="header-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry
    </h1>
    <p class="content-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged.
    </p>
    <div class="stats-row">
      <div class="stat">
        <div class="icon-number">
          <img src="assets/icon/experience.png" alt="experience icon" class="stat-icon">
          <span class="stat-number">30</span>
        </div>
        <span class="stat-title">Experience</span>
      </div>
      <div class="stat">
        <div class="icon-number">
          <img src="assets/icon/completed-cases.png" alt="completed cases icon" class="stat-icon">
          <span class="stat-number">560</span>
        </div>
        <span class="stat-title">Completed Cases</span>
      </div>
      <div class="stat">
        <div class="icon-number">
          <img src="assets/icon/royalty-won.png" alt="royalty won icon" class="stat-icon">
          <span class="stat-number">680</span>
        </div>
        <span class="stat-title">Royalty Won</span>
      </div>
    </div>
  </div>
</div>
