<div class="footer-component">
  <div class="content">
    <div class="content-section" id="about-us">
      <h2>ABOUT US</h2>
      <p class="about-us-content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      </p>
    </div>
    <div class="content-section" id="explore-site">
      <h2>EXPLORE OUR SITE</h2>
      <ul>
        <li><a href="/web#home">Work</a></li>
        <li><a href="/web#our-team">Lawyer</a></li>
        <li><a href="/web#about-us">Our Firm</a></li>
        <li><a href="/web#service">Case Results</a></li>
        <li><a href="/web#contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="content-section" id="keep-in-touch">
      <h2>KEEP IN TOUCH</h2>
      <div class="contact-detail">
        <img src="assets/icon/location-grey.png" alt="location">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="contact-detail">
        <img src="assets/icon/telephone-grey.png" alt="telephone">
        <p id="mobile-number">0773215656</p>
      </div>
      <div class="contact-detail">
        <img src="assets/icon/mail-grey.png" alt="mail">
        <p>sample@gmail.com</p>
      </div>
      <div class="contact-detail">
        <img src="assets/icon/clock-grey.png" alt="time">
        <p>Mon - Sat: 9:00-18:00</p>
      </div>
    </div>
  </div>

  <div class="copyright-content">
    <footer>
      Copyright &copy; 2021 Instructure, Inc. All rights reserved.
      Various trademarks held by their respective owners.
    </footer>
  </div>
</div>
